/Net4TestClient.class
/Net4TestServer.class
/Net5Client.class
/Net5EchoServer.class
/Net6ChatClient$1.class
/Net6ChatClient.class
/Net6ChatServer$ClientHandler.class
/Net6ChatServer.class
/Net7SimpleHttpServer$ClientHandler.class
/Net7SimpleHttpServer.class
